version: '3.8'

services:
  web:
    build: .
    container_name: django_app
    env_file: .env
    expose:
      - "8000"
    restart: always
    # [추가] 서버가 메모리 부족으로 뻗을 때 자동으로 다시 살아나게 돕습니다.
    mem_limit: 800m

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: always